'context-menu':
  '.platform-win32 .tree-view .full-menu, .platform-win32 .tree-view .multi-select': [
    {'type': 'separator'}
    { label: 'Copy (System)', command: 'system-clip:copy' },
    { label: 'Paste (System)', command: 'system-clip:paste' },
    { label: 'Force (System)', command: 'system-clip:force' },
    {'type': 'separator'}
  ]
