'context-menu':
  '.platform-win32 .tree-view .full-menu, .platform-win32 .tree-view .multi-select': [
    {'type': 'separator'}
    { label: 'WinCopy', command: 'windows-clip:copy' },
    { label: 'WinPaste', command: 'windows-clip:paste' },
    { label: 'WinForce', command: 'windows-clip:force' },
    {'type': 'separator'}
  ]
